/* navbar css in js can't setted it. */
.cdp-os-content {
  padding: 0 1rem !important;
}

/* custom flex */
.cdp-flex__1 {
  flex: 1;
}

/* close button custom using at all modal close button */
.close {
  font-size: 2.2rem;
  font-weight: 400;
  text-shadow: none;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  opacity: 0.8;

  &:focus {
    border: none;
    outline: none;
  }

  &:hover {
    opacity: 1;
  }
}

/* pointer-event class */
.cdp-pointer-events-none {
  pointer-events: none;
}

/* Text-decoration */
.cdp-text-decoration {
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}

/* a tag BEGIN */
.cdp-link__tag {
  color: #4f84cf;
  text-decoration: underline;

  &:hover {
    color: #0e4faa;
    text-decoration: underline;
  }
}

/* small dots for show more */
.cdp-sm-dots {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* Inher Bootstrap */
.content-wrapper {
  height: auto;
}

.cdp__remove__msg > td {
  color: #b0b0b0 !important;
}

/* Special for collapse dropdown content box with box shadow */
.cdp-filter__content {
  box-sizing: border-box;
  min-height: 1px;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
  border: solid 1px rgba(106, 83, 186, 0.3);
  background-color: #ffffff;
  position: absolute;
  top: calc(100% + 10px);
  z-index: 999;
}
