/* border-radius */
// border radius classes
@for $val from 1 through 24 {
  // border radius
  .b__radius-#{$val} {
    border-radius: #{$val}px !important;
  }
}

@for $val from 1 through 24 {
  // border radius top only
  .cdp-rounded-top-#{$val} {
    border-radius: #{$val}px #{$val}px 0 0 !important;
  }
}

@for $val from 1 through 24 {
  // border radius bottom only
  .cdp-rounded-bottom-#{$val} {
    border-radius: 0 0 #{$val}px #{$val}px !important;
  }
}

@for $val from 1 through 24 {
  // border radius left only
  .cdp-rounded-left-#{$val} {
    border-radius: #{$val}px 0 0 #{$val}px !important;
  }
}

@for $val from 1 through 24 {
  // border radius right only
  .cdp-rounded-right-#{$val} {
    border-radius: 0 #{$val}px #{$val}px 0 !important;
  }
}
