/* background color */
@each $key, $val in $colors {
  .cdp-bg__#{$key} {
    background-color: #{$val} !important;
  }
  .cdp__bg__#{$key} {
    background-color: #{$val} !important;
  }
}

/* text color */
@each $key, $val in $text-colors {
  .cdp__text__#{$key} {
    color: #{$val} !important;
  }
}

/* text hover color */
@each $key, $val in $text-hover-colors {
  .cdp__text__#{$key}:hover {
    color: #{$val} !important;
  }
}

.cdp__text-onyx {
  color: #404040;
}

.cdp__text-hover-disable:hover {
  color: inherit;
}

// 20221006 refractor
/* background color */
@each $key, $val in $colors {
  .cdp-bg-#{$key} {
    background-color: #{$val} !important;
  }

  @if ($val == black) {
    @for $i from 1 through 9 {
      .cdp-bg-#{$key}-light-#{$i} {
        background-color: rgba(0, 0, 0, $i * 0.1);
        // background-color: mix(white, $val, $i * 10);
      }
    }
  }
}

/* text color */
@each $key, $val in $text-colors {
  .cdp-text-#{$key} {
    color: #{$val} !important;
  }
}

/* text hover color */
@each $key, $val in $text-hover-colors {
  .cdp-text-#{$key}:hover {
    color: #{$val} !important;
  }
}

// 20221212
// Remark: when background-color is disable grey maybe child has input tag with readonly attribute
.cdp-bg-disable input:read-only,
.cdp-bg__disable input:read-only,
.cdp-bg-disabled input:read-only,
.cdp-bg__disabled input:read-only {
  background-color: rgba(207, 216, 230, 0) !important;
}
