/* html a href tag cursor pointer change to default */
.cdp-cursor__pointer-default {
  cursor: default;
}
.cdp-cursor-default {
  cursor: default;
}
/* cursor pointer change to pointer */
.cdp-cursor-pointer {
  cursor: pointer;
}
.cdp-cursor-text {
  cursor: text;
}
/* User select all */
.user-select-all {
  user-select: all;
}
.user-select-auto {
  user-select: auto;
}
