.cdp-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cdp__center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 0;
  margin-right: 0;

  @for $i from 1 through 12 {
    // margin
    > .col-#{$i} {
      padding: 0 !important;
    }
  }
}

.cdp-container__fluid {
  padding: 20px;
}

.layout-navbar-fixed .wrapper .content-wrapper {
  margin-top: 3.75rem;
}

.content-wrapper > .content {
  padding: 0;
  min-height: calc(100vh - 8.25rem);
}

.container-fluid.cdp__container {
  box-sizing: border-box;
  width: calc(100% - 40px);
  padding: 20px;
}
