$font-values: 12, 13, 14, 16, 18, 20, 22, 24, 26, 27, 28, 30, 32;
$font-align-values: left, right;

// font classes
/* font size */
@each $val in $font-values {
  .cdp-font__#{$val} {
    font-size: #{$val}px !important;
  }

  .cdp-fz__#{$val} {
    font-size: #{$val}px !important;
  }

  .cdp-fz-#{$val} {
    font-size: #{$val}px !important;
  }
}

/* font weight */
@for $i from 1 through 9 {
  // font weight
  .cdp-fw__#{$i * 100} {
    font-weight: #{$i * 100} !important;
  }
}

// custom for title and label text

.cdp-fs-light {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.cdp-title__text {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272d44;
}

/* text align */
@each $val in $font-align-values {
  .align-#{$val} {
    text-align: #{$val} !important;
  }
}

.font {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #404040;
}

.cdp-text-overflow-hide {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 26px;
}
