.d-grid {
  display: grid;
}

.cdp-d-grid {
  &-center {
    place-items: center;
  }
  &-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  &-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  &-col-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  &-col-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
