/* custom icon */
.custom {
  &-icon-upload {
    display: inline-block;
    background-image: url("../img/icon_upload.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
  }
  &-icon-edit {
    display: inline-block;
    background-image: url("../img/icon_edit.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
  }
  &-icon-edit {
    display: inline-block;
    background-image: url("../img/icon_edit.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
  }
  &-icon-history {
    display: inline-block;
    background-image: url("../img/icon_history.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
  }
  &-icon-trash {
    display: inline-block;
    background-image: url("../img/icon_trash.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
  }
  &-icon-rank-lvl-1 {
    display: inline-block;
    background-image: url("../img/tbl-ranking-level-1.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
  }
  &-icon-rank-lvl-2 {
    display: inline-block;
    background-image: url("../img/tbl-ranking-level-2.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
  }
  &-icon-rank-lvl-3 {
    display: inline-block;
    background-image: url("../img/tbl-ranking-level-3.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
  }
  &-toastr-icon-success {
    display: inline-block;
    background-image: url("../img/toastr-icon-success.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
  }

}

.cdp-icon {
  &__download::before {
    font-family: "iconfont" !important;
    content: "/e83e";
  }
  &__preview::before {
    font-family: "iconfont" !important;
    content: "/e83f";
  }
  &__search::before {
    font-family: "iconfont" !important;
    content: "/e840";
  }
  &__gotop::before {
    font-family: "iconfont" !important;
    content: "/e841";
  }
}

// icon margin right 5px
.icon-mr-5 {
  margin-right: 5px;
}

// icon for alibaba icon font
.cdp__footer__pagination .cdpiconalibaba-12 {
  width: 12px;
  height: 12px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* Alibaba icon size */
@for $i from 10 through 30 {
  // opacity
  .cdpiconalibaba-#{$i} {
    width: #{$i}px;
    height: #{$i}px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
}
