/* input border */
.cdp-input-blue {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #cfd8e6;

  &:focus-visible,
  &:focus,
  &:hover {
    outline: none;
    border: 1px solid #4f7dc5;

    ~ .input-group-prepend .cdp__input__icon {
      border: 1px solid #4f7dc5;
      border-left: none;
      color: #4f7dc5;
    }
  }

  &:disabled,
  &[disabled] {
    background-color: rgba(207, 216, 230, 0.2);
  }

  &::-moz-placeholder {
    color: #b4c1d6;
  }

  &:-ms-input-placeholder {
    color: #b4c1d6;
  }

  &::placeholder {
    color: #b4c1d6;
  }

  &:has(.tags_input .dropdown input.is-invalid) {
    border: 1px solid #f94956 !important;
    border-radius: 5px !important;
  }

  ~ .input-group-prepend .btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  ~ .input-group-prepend .cdp__input__icon {
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #cfd8e6;
    border-left-width: 0;
    color: #cfd8e6;
    transition: none;
  }
}

.input-group .cdp-input-blue:hover .input-group-prepend .cdp__input__icon {
  border: 1px solid #4f7dc5;
}

.cdp-input-purple {
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #ccc5e1;

  &:focus-visible,
  &:focus,
  &:hover {
    outline: none;
    border: 1px solid #6a53ba;
  }

  &:disabled,
  &[disabled] {
    background-color: rgba(207, 216, 230, 0.2);
  }

  &::-moz-placeholder {
    color: rgba(106, 83, 186, 0.4);
  }

  &:-ms-input-placeholder {
    color: rgba(106, 83, 186, 0.4);
  }

  &::placeholder {
    color: rgba(106, 83, 186, 0.4);
  }

  ~ .input-group-prepend .cdp__input__icon {
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #ccc5e1;
    border-left-width: 0;
    color: #ccc5e1;
    transition: none;
  }
}

.input-group .cdp-input-purple:hover .input-group-prepend .cdp__input__icon {
  border: 1px solid #6a53ba;
}

/* for invalid */
.input-group > .form-control.cdp-input-blue.cdp-input-box:not(:last-child),
.input-group > .form-control.cdp-checkbox-blue:not(:last-child) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input-group > .custom-file:not(:last-child) .custom-file-label,
.input-group > .custom-file:not(:last-child) .custom-file-label::after {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input-group > .select2-container--default:not(:last-child) .select2-selection {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Input */
.cdp-input-box {
  display: block;
  box-sizing: border-box;
  padding: 8px 14px 10px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #404040;
}

textarea.cdp-textarea {
  resize: none;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #404040;
  width: 500px;
  height: 134px;
  margin: 0;
  padding: 8px 3px 3px 14px;
  border-radius: 5px;
  border: solid 1px #cfd8e6;

  &:focus,
  &:focus-visible,
  &:hover {
    border: 1px solid #4f7dc5;
    outline: none;
  }

  &.resize__horizontal {
    resize: horizontal;
  }

  &.resize__vertical {
    resize: vertical;
  }
}

textarea.cdp-textarea-purple {
  resize: none;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #404040;
  width: 500px;
  height: 134px;
  margin: 0;
  padding: 8px 3px 3px 14px;
  border-radius: 5px;
  border: solid 1px #ccc5e1;

  &:focus,
  &:focus-visible,
  &:hover {
    border: 1px solid #6a53ba;
    outline: none;
  }

  &.resize__horizontal {
    resize: horizontal;
  }

  &.resize__vertical {
    resize: vertical;
  }

  &::-moz-placeholder {
    color: rgba(106, 83, 186, 0.4);
  }

  &:-ms-input-placeholder {
    color: rgba(106, 83, 186, 0.4);
  }

  &::placeholder {
    color: rgba(106, 83, 186, 0.4);
  }
}

// 20221212
// Remark: all form control disable mode change to rgba(207, 216, 230, 0.2)
.form-control:disabled .form-control[readonly]:is([aria-invalid="false"]) {
  background-color: rgba(207, 216, 230, 0.2);
}
