/* gap */
@for $val from 0 through 50 {
  // gap
  .cdp-gap__#{$val} {
    gap: #{$val}px !important;
  }

  .cdp-gap-#{$val} {
    gap: #{$val}px !important;
  }

  .cdp-row-gap-#{$val} {
    row-gap: #{$val}px !important;
  }

  .cdp-column-gap-#{$val} {
    column-gap: #{$val}px !important;
  }
}
