/* CDP Maintain Page */
.cdp-maintain {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 3em;
    font-weight: 100;
    color: $glaucous;
    margin: 0;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 0;
  }
  h3 {
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 0;
  }
  h4 {
    font-size: 1em;
    font-weight: 100;
    margin-top: 0;
  }
}
