$margin-values: auto;

// margin classes
@for $val from 0 through 100 {
  // margin
  .m__#{$val} {
    margin: #{$val}px !important;
  }
  // margin top
  .mt__#{$val} {
    margin-top: #{$val}px !important;
  }
  // margin right
  .mr__#{$val} {
    margin-right: #{$val}px !important;
  }
  // margin bottom
  .mb__#{$val} {
    margin-bottom: #{$val}px !important;
  }
  // margin left
  .ml__#{$val} {
    margin-left: #{$val}px !important;
  }
  // margin top & margin bottom
  .my-axis__#{$val} {
    margin-top: #{$val}px !important;
    margin-bottom: #{$val}px !important;
  }
  // margin left & margin right
  .mx-axis__#{$val} {
    margin-left: #{$val}px !important;
    margin-right: #{$val}px !important;
  }
}

// margin classes for special case
@each $val in $margin-values {
  .m__#{$val} {
    margin: #{$val} !important;
  }
  .mt__#{$val} {
    margin-top: #{$val} !important;
  }
  .mr__#{$val} {
    margin-right: #{$val} !important;
  }
  .mb__#{$val} {
    margin-bottom: #{$val} !important;
  }
  .ml__#{$val} {
    margin-left: #{$val} !important;
  }
  // margin top & margin bottom
  .my-axis__#{$val} {
    margin-top: #{$val} !important;
    margin-bottom: #{$val} !important;
  }
  // margin left & margin right
  .mx-axis__#{$val} {
    margin-left: #{$val} !important;
    margin-right: #{$val} !important;
  }
}
