/* Custom Navbar BEGIN */
.nav-sidebar > .nav-item {
  margin: 0.25rem 0;
}
.nav-sidebar .nav-item > .nav-link {
  margin: 0;
  padding: 0.5rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  margin: 0;
}
.navbar-dark .navbar-nav .nav-link > i.fa-bars {
  font-size: 19.5px;
}
.navbar-nav > .nav-item > .labels__illustrate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 6px 13px 8px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 30px;
}
.navbar-nav > .nav-item > .labels__illustrate > .fas {
  color: #ffffff;
  font-size: 12px;
}
.navbar-nav > .nav-item > .labels__illustrate > .labels__illustrate-text {
  color: #ffffff;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
/* Custom Navbar END */

/* User Dropdown BEGIN */
.user-dropdown {
  border-radius: 4px !important;
  width: 108px;
  min-width: 108px;
  max-width: 108px;
  border: 1px solid #edf2fa;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  right: 14px;

  .user-dropdown__item {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    border: none;
    text-align: left;

    &:first-child {
      border-radius: 4px 4px 0 0;
    }
    &:last-child {
      border-radius: 0 0 4px 4px;
    }

    &:hover {
      color: #4f84cf;
      background-color: rgba(79, 132, 207, 0.1);
    }
  }
}
/* User Dropdown END */

/* When user close sidebar navbar user info padding keep 1rem for left and right. */
.sidebar-collapse .nav-item .dropdown-toggle.nav-link.adjust-mobile-pr-1 {
  padding-right: 1rem;
  padding-left: 1rem;
}
