$padding-values: auto;

// padding classes
@for $val from 0 through 100 {
  // padding
  .p__#{$val} {
    box-sizing: border-box;
    padding: #{$val}px !important;
  }
  // padding top
  .pt__#{$val} {
    box-sizing: border-box;
    padding-top: #{$val}px !important;
  }
  // padding right
  .pr__#{$val} {
    box-sizing: border-box;
    padding-right: #{$val}px !important;
  }
  // padding bottom
  .pb__#{$val} {
    box-sizing: border-box;
    padding-bottom: #{$val}px !important;
  }
  // padding left
  .pl__#{$val} {
    box-sizing: border-box;
    padding-left: #{$val}px !important;
  }
  // padding top & padding bottom
  .py-axis__#{$val} {
    box-sizing: border-box;
    padding-top: #{$val}px !important;
    padding-bottom: #{$val}px !important;
  }
  // padding left & padding right
  .px-axis__#{$val} {
    box-sizing: border-box;
    padding-left: #{$val}px !important;
    padding-right: #{$val}px !important;
  }
  .py__#{$val} {
    box-sizing: border-box;
    padding-top: #{$val}px !important;
    padding-bottom: #{$val}px !important;
  }
  .px__#{$val} {
    box-sizing: border-box;
    padding-left: #{$val}px !important;
    padding-right: #{$val}px !important;
  }
}

// padding classes for special case
@each $val in $padding-values {
  .p__#{$val} {
    box-sizing: border-box;
    padding: #{$val} !important;
  }
  .pt__#{$val} {
    box-sizing: border-box;
    padding-top: #{$val} !important;
  }
  .pr__#{$val} {
    box-sizing: border-box;
    padding-right: #{$val} !important;
  }
  .pb__#{$val} {
    box-sizing: border-box;
    padding-bottom: #{$val} !important;
  }
  .pl__#{$val} {
    box-sizing: border-box;
    padding-left: #{$val} !important;
  }
  // padding top & padding bottom
  .py-axis__#{$val} {
    box-sizing: border-box;
    padding-top: #{$val} !important;
    padding-bottom: #{$val} !important;
  }
  // padding left & padding right
  .px-axis__#{$val} {
    box-sizing: border-box;
    padding-left: #{$val} !important;
    padding-right: #{$val} !important;
  }
}
