/* Custom Sidebar BEGIN */
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:focus,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:hover {
  background-color: #4f84cf;
  color: #ffffff;
}
.main-sidebar {
  background-color: #272d44;
}
.layout-navbar-fixed .wrapper .brand-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272d44;
  border-bottom: none;
  padding: 0;
  margin-top: 10px;
}
.brand-link img {
  width: 66px;
  height: 39px;
}
.layout-navbar-fixed
  .wrapper
  .sidebar-dark-primary
  .brand-link:not([class*="navbar"]) {
  background-color: #272d44;
  height: 40px;
}
.navbar-dark {
  background-color: #171d32;
  height: 60px;
}
.nav-sidebar .nav-item > .nav-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#sidebar_menu.cdp__sidebar__menu {
  height: calc(100vh - 75px);
  overflow-y: scroll;
}
.nav-sidebar .nav-item > .nav-link > .nav-icon {
  background-image: url("../img/sidebar-icon_bg-inactive.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  padding: 8px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  font-size: 13px;
}
.nav-sidebar .nav-item > .nav-link > .nav-icon.fa-vimeo-v {
  width: 22px;
  height: 22px;
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: #4f84cf;
  color: #fff;
  padding: 0.5rem;
}
.nav-sidebar .nav-item > .nav-link.active > .nav-icon {
  background-image: url("../img/sidebar-icon_bg-active.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 24px;
  height: 24px;
}
.sidebar-collapse .nav-sidebar .nav-item-footer {
  display: none;
}
.sidebar-collapse .nav-item .nav-link {
  padding: 0.5rem;
}
.nav-sidebar .nav-item-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  bottom: 0;
}
.nav-sidebar .nav-item-footer > .nav-item-footer-img {
  display: block;
  width: 200px;
  height: 119px;
  margin: 0 5px 20px;
  height: 175px;
  margin-top: auto;
}
.nav-sidebar .nav-item-footer > .version-copy {
  width: 210px;
  height: 34px;
  margin-bottom: 22px;
}
.nav-sidebar .nav-item-footer > .version-copy p {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}
/* Custom Sidebar END */
