#toast-container > div:hover {
  box-shadow: none;
}

/* Toast Success */
#toast-container > .cdp-toast-info {
  border-radius: 5px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(74, 186, 108, 0.8);

  &:before {
    content: "";
    display: inline-block;
    background-image: url("../img/toastr-icon-success.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
  }

  .toast-progress {
    background-color: #23a049;
  }
}

/* Toast Warning */
#toast-container > .cdp-toast-warn {
  border-radius: 5px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(249, 202, 26, 0.8);
}
