/* tooltip icon */
.tooltip > .tooltip-inner {
  background-color: $space-cadet !important;
}

.bs-tooltip-auto[x-placement^="right"] .arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: $space-cadet !important;
}

.bs-tooltip-auto[x-placement^="left"] .arrow::before,
.bs-tooltip-left .arrow::before {
  border-left-color: $space-cadet !important;
}

.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: $space-cadet !important;
}

.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: $space-cadet !important;
}

/* info icon tooltop background color */
.text-muted.cdp-text__muted {
  color: $space-cadet !important;
}

.text-muted-white {
  color: map-get($colors, "white") !important;
}

.text-muted-blue {
  color: $glaucous !important;
}

.text-muted-purple {
  color: map-get($colors, "purple") !important;
}

// info icon tooltop font size
.text-muted.cdp-text__muted,
.text-muted-blue > i,
.text-muted-purple > i {
  font-size: 13px;
}
