$width-values: 50, 60, 80, 160, 210, 300, 312, 380, 390, 400, 444, 500, 550, 570, 580, 600, 670, 720, 760, 768, 880, 954, 1000, 1150;

// width classes
@each $val in $width-values {
  .cdp-w__#{$val} {
    width: #{$val}px;
    max-width: #{$val}px;
  }
}
