@font-face {
  font-family: "iconfont"; /* Project id 3188357 */
  src: url('iconfont.woff2?t=1666753822295') format('woff2'),
       url('iconfont.woff?t=1666753822295') format('woff'),
       url('iconfont.ttf?t=1666753822295') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_sort:before {
  content: "\e842";
}

.icon-icon_top:before {
  content: "\e841";
}

.icon-icon_preview:before {
  content: "\e83f";
}

.icon-icon_search:before {
  content: "\e840";
}

.icon-icon_download:before {
  content: "\e83e";
}

.icon-icon_prev:before {
  content: "\e83c";
}

.icon-icon_next:before {
  content: "\e83d";
}

.icon-icon_vip6:before {
  content: "\e837";
}

.icon-icon_vip5:before {
  content: "\e836";
}

.icon-icon_vip4:before {
  content: "\e838";
}

.icon-icon_vip3:before {
  content: "\e839";
}

.icon-icon_vip2:before {
  content: "\e83a";
}

.icon-icon_vip1:before {
  content: "\e83b";
}

