.introjs-helperNumberLayer {
  font-family: tahoma, Arial, verdana, sans-serif;
  font-size: 14px;
  text-shadow: none;
  width: 22px;
  height: 22px;
  line-height: 22px;
  border: 2px solid #ecf0f1;
  border-radius: 50%;
  background: #e74c3c;
}

.introjs-helperLayer {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 2px;
}

.introjs-tooltip {
  letter-spacing: 0.1em;
  color: #2c3e50;
  font-family: tahoma, Arial, verdana, sans-serif;
  border-radius: 2px;
}

.introjs-button {
  padding: 0.6em 0.8em;
  text-shadow: none;
  font-weight: bold;
  color: #2c3e50;
  font-family: tahoma, Arial, verdana, sans-serif;
  background: #ecf0f1;
  background-image: none;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-transition: background 0.3s, border 0.3s;
  -moz-transition: background 0.3s, border 0.3s;
  -ms-transition: background 0.3s, border 0.3s;
  -o-transition: background 0.3s, border 0.3s;
  transition: background 0.3s, border 0.3s;
}

.introjs-prevbutton {
  border-radius: 0.2em 0 0 0.2em;
}

.introjs-nextbutton {
  border-radius: 0 0.2em 0.2em 0;
}

.introjs-button:hover,
.introjs-button:focus {
  background: #2c3e50;
  color: #fff;
  box-shadow: none;
  border-color: #2c3e50;
  text-decoration: none;
}
