/* badge for label tag */
.badge {
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  cursor: pointer;

  /* button hover background color */
  @each $key, $val in $badge-colors {
    &-custom-#{$key} {
      box-sizing: border-box;
      padding: 1px 8px 2px;
      border-radius: 10px;
      background-color: #{$val};
    }
  }
}
