.cdp__button {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.cdp-btn {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  padding: 7px 8px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  cursor: pointer;

  &__sm {
    width: 100px;
    height: 34px;

    &-120 {
      width: 120px;
      height: 34px;
    }

    &-140 {
      width: 140px;
      height: 40px;
    }
  }

  &:focus {
    border: none;
    outline: none;
  }
}

/* button background color */
@each $key, $val in $btn-colors {
  @if (#{$key} == "disable") {
    .custom-bg-#{$key} {
      color: #8d8d8d;
      background-color: #{$val};
    }
  } @else {
    .custom-bg-#{$key} {
      color: map-get($colors, "white");
      background-color: #{$val};

      &:disabled {
        color: #8d8d8d;
        background-color: rgba(207, 216, 230, 0.2);
      }
    }
  }
}

/* button hover background color */
@each $key, $val in $btn-hover-colors {
  @if (#{$key} == "disable") {
    .custom-bg-#{$key}:hover {
      color: #8d8d8d;
      background-color: #{$val};
      cursor: not-allowed;
    }
  } @else {
    .custom-bg-#{$key}:hover {
      color: map-get($colors, "white");
      background-color: #{$val};

      &:disabled {
        color: #8d8d8d;
        background-color: #dfdfdf;
        cursor: not-allowed;
      }
    }
  }
}

/* outline background color */
@each $key, $val in $outline-colors {
  .cdp-outline__#{$key} {
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    border: solid 1px #{$val};
    color: #{$val};
    padding: 10px 30px;
    height: 40px;
    cursor: pointer;
  }
}

/* outline hover background color */
@each $key, $val in $outline-hover-colors {
  .cdp-outline__#{$key} {
    &:hover,
    &:focus,
    &:focus-visible {
      box-sizing: border-box;
      background-color: rgba(0,0,0,0);
      border: solid 1px #{$val};
      color: #{$val};
      padding: 10px 30px;
      height: 40px;
      cursor: pointer;
    }
  }
}

/* open new windows button */
.cdp-open_mini_windows {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 34px;
  padding: 7px 13px;
  border-radius: 5px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;

  &:hover {
    border: 1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
  }
}

.outline-btn-dark__blue {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 22px;
  border-radius: 5px;
  border: solid 1px #4f84cf;

  &:focus {
    outline: none;
  }

  i.fas {
    margin-right: 6px;
    color: #4f84cf;
  }

  .outline-btn-dark__blue-text {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4f84cf;
  }
}
