// 保留
/* Unique Only for Member Operate */
.card-review-bg {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 70px;
  padding: 12px 20px 12px 10px;
  border-radius: 5px;

  .card-review-float {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 160px;
    height: 70px;
    bottom: 12px;
    left: 10px;
    border-radius: 5px 75px 75px 5px;
    padding-left: 20px;

    &.maximum__blue {
      box-shadow: 2px 2px 0 0 #2b8696;
      background-color: #59b7c8;
    }

    &.rawsienna {
      background-color: #c68961;
      box-shadow: 2px 2px 0 0 #c68961;
    }

    &.oldrose {
      background-color: #ca8484;
      box-shadow: 2px 2px 0 0 #a05a5a;
    }

    .card-review-float-text {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #fff;
    }
  }

  .card-review-amount {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #404040;
    margin-left: auto;
  }

  &.azurex {
    background-color: #dceff2;
  }

  &.linen {
    background-color: #f3e5dc;
  }

  &.lavenderblush {
    background-color: #f2e3e3;
  }
}
