// 保留
.cdp__footer__pagination {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0;
  margin-top: 20px;

  &.column .dataTables_info {
    width: 100%;
    position: static;
  }

  /* Custom Pagination Arrow Icon */
  .pagination .previous {
    font-size: 13px;
    color: #404040;

    &.page-link::before {
      font-family: "iconfont" !important;
      content: "\e83c";
    }
  }

  .pagination .next {
    font-size: 13px;
    color: #404040;

    &.page-link::before {
      font-family: "iconfont" !important;
      content: "\e83d";
    }
  }
}

/* datatable border radius */
.cdp-table-border__radius-5 {
  border-radius: 5px;

  thead th:first-child {
    border-top-left-radius: 5px;
  }

  thead th:last-child {
    border-top-right-radius: 5px;
  }

  tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
  }

  tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
  }
}

/* datatable with border */
.cdp-table-bordered {
  outline: 1px solid #e6eaf2;

  thead th {
    border: 1px solid #e6eaf2;
    border-top-width: 0px;

    &:first-child {
      border-left-width: 0px;
    }

    &:last-child {
      border-right-width: 0px;
    }
  }

  tbody td {
    border: 1px solid #e6eaf2;

    &:first-child {
      border-left-width: 0px;
    }

    &:last-child {
      border-right-width: 0px;
    }
  }

  tbody tr:last-child td {
    border-bottom-width: 0px;
  }

  tfoot th {
    border: 1px solid #e6eaf2;
  }
}

.cdp-table-head-fixed thead {
  position: sticky;
  top: 0;
  z-index: 10;
}

.cdp-table__header-cultured th {
  background-color: #f6f8fb !important;
}

.cdp-table.no-border tbody td {
  box-sizing: border-box;
  border: none;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  max-height: 70px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #404040;

  &:first-child {
    border-radius: 4px 0 0 4px;
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
  }

  &.project-actions {
    text-align: center;

    button {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 6px 13px 8px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      border-radius: 4px;

      /* Temporay BEGIN */
      &.single {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px 13px 8px;
        background-color: #5eb7c8;
        border-color: #5eb7c8;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        border-radius: 4px;
        margin: 0 auto;
      }
      /* Temporay END */
    }

    .btn > .fas {
      margin-right: 5px;
    }

    .cdp__double__button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  a {
    color: #4f84cf;
  }

  .member_name {
    font-size: 14px;
    color: #4f84cf;
  }
}

.cdp-table.cdp-table-hover tbody tr:hover {
  background-color: rgba(107, 207, 223, 0.05);
}

.cdp-table tbody .table__highlight-sky_blue {
  color: #00829d;
  background-color: rgba(107, 207, 223, 0.1);
}

/* Table Footer with background color */
.cdp-table__footer-b__powder-50 tfoot th {
  background-color: rgba(250, 248, 244, 0.5) !important;
}

.cdp__tooltips__arrow {
  position: relative;
  width: 12px;
  height: 100%;
  margin: 0 8px 0 10px;

  > i.fas:first-child {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 12px;
    width: 3px;
    opacity: 0.8;
  }

  > i.fas:last-child {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 12px;
    width: 3px;
    opacity: 0.3;
  }
}

.dataTable.cdp-table thead {
  border-radius: 4px;
  background-color: #e9eef6;

  th {
    position: relative;
    background-color: #e9eef6;
    border-bottom: 0px solid rgba(0, 0, 0, 0);
    border-top: 0px solid rgba(0, 0, 0, 0);
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3b4667;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}

.dataTable.cdp-table tbody tr {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // margin: 4px 0;

  &:nth-child(odd).odd {
    background-color: #ffffff;
  }

  &:nth-child(even).even {
    background-color: #f4f6f9;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.odd {
    background-color: #ffffff;
  }

  &.even {
    background-color: #f4f6f9;
  }

  &.shown {
    margin: 0;
    border: none;
  }
}

.dataTable.cdp-table tbody td .list-inline .list-inline-item {
  margin: 3px 2.5px;
  height: 20px;

  a {
    cursor: default;
  }
}

/* for label auto on off */
.list-inline {
  &.show {
    max-height: 100%;
  }

  .cdp-list-hide,
  .cdp-show-more-label.hide,
  .cdp-close-label-button.hide {
    display: none;
  }

  .cdp-show-more-label {
    box-sizing: border-box;
    display: inline-flex;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: #4f84cf;
    margin: 5px;
    font-size: 12px;
    padding: 5px;
    width: auto;
    height: auto;
    cursor: pointer;
  }

  .cdp-close-label-button {
    box-sizing: border-box;
    display: inline-flex;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: #4f84cf;
    margin: 5px;
    font-size: 12px;
    padding: 5px;
    width: 40px;
    height: 27px;
    cursor: pointer;
  }
}

.dataTable.cdp-table tbody td .list-inline .badge {
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;

  &-custom-blue {
    box-sizing: border-box;
    padding: 1px 8px 2px;
    border-radius: 10px;
    background-color: #4f84cf;
  }

  &-custom-yellow {
    box-sizing: border-box;
    padding: 1px 8px 2px;
    border-radius: 10px;
    background-color: #f39c10;
  }

  &-custom-danger {
    box-sizing: border-box;
    padding: 1px 8px 2px;
    border-radius: 10px;
    background-color: #de6850;
  }
}

.dataTable tbody td a {
  color: #4f84cf;
}

/* Custom search icon color second solution */
.dataTables_filter .fas.fa-search {
  color: #7d818f;
}

.page-link {
  background-color: rgba(0, 0, 0, 0);

  &:focus {
    box-shadow: none;
  }

  &:focus-visible {
    outline: rgba(0, 0, 0, 0);
  }
}

/* row details css */
table.dataTable td.dt-control:before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background-image: url("../img/row-on.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

table.dataTable .shown td.dt-control:before {
  background-image: url("../img/row-off.svg");
}

table.dataTable {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.odd .dt-row__details tr {
  border-top: 1px solid #e9ecf0;

  td.dt-row__details-item span,
  td.dt-row__details-item div {
    background-color: #f7f7f7;
  }
}

.even .dt-row__details tr {
  border-top: 1px solid #dfe6f0;

  td.dt-row__details-item span,
  td.dt-row__details-item div {
    background-color: #eaeff7;
  }
}

.dt-row__details tr {
  display: flex;
  justify-content: first baseline;
  align-items: center;

  td.dt-row__details-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &:first-child {
      border-radius: 0 0 0 4px;

      span,
      div {
        margin-left: 0;
      }
    }

    &:last-child {
      border-radius: 0;
      border-bottom-right-radius: 40px;

      span,
      div {
        margin-right: 0;
      }
    }

    span,
    div {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #404040;
      margin: 0 5px;
      border-radius: 5px !important;
      width: calc(100% - 10px);
      height: 30px;
    }
  }
}

table.dataTable.cdp-table {
  display: table;

  .sorting {
    position: relative;

    &:before {
      content: "";
      background-image: url("../img/sorting-arrow-up.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      top: 12px;
      right: 2px;
      position: absolute;
      vertical-align: middle;
      width: 12px;
      height: 6px;
    }

    &:after {
      content: "";
      background-image: url("../img/sorting-arrow-down.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      top: 20px;
      right: 2px;
      position: absolute;
      vertical-align: middle;
      width: 12px;
      height: 6px;
    }

    span {
      margin-right: 15px;
    }
  }

  .sorting_asc {
    position: relative;

    &:before {
      content: "";
      background-image: url("../img/sorting-arrow-up-active.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      top: 12px;
      right: 2px;
      position: absolute;
      vertical-align: middle;
      width: 12px;
      height: 7px;
    }

    &:after {
      content: "";
      background-image: url("../img/sorting-arrow-down.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      top: 20px;
      right: 2px;
      position: absolute;
      vertical-align: middle;
      width: 12px;
      height: 7px;
    }

    span {
      margin-right: 15px;
    }
  }

  .sorting_desc {
    position: relative;

    &:before {
      content: "";
      background-image: url("../img/sorting-arrow-up.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      top: 12px;
      right: 2px;
      position: absolute;
      vertical-align: middle;
      width: 12px;
      height: 7px;
    }

    &:after {
      content: "";
      background-image: url("../img/sorting-arrow-down-active.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      top: 20px;
      right: 2px;
      position: absolute;
      vertical-align: middle;
      width: 12px;
      height: 7px;
    }

    span {
      margin-right: 15px;
    }
  }
}

/* Custom Pagination Info */
div.dataTables_wrapper div.dataTables_info {
  position: absolute;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #404040;
}

div.dataTables_wrapper div.dataTables_processing {
  z-index: 99;
  margin-top: 35px;
}

div.dataTables_wrapper .cdp__footer__pagination div.dataTables_paginate,
div.dataTables_wrapper .cdp__footer__pagination-sm div.dataTables_paginate {
  margin: 0 auto;
}

.paging_simple_numbers .pagination .page-item {
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 0 5px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  .page-link {
    min-width: 34px;
    width: auto;
    height: 34px;
    border: none;
    color: #404040;
  }
}

.paging_simple_numbers .page-item .page-link:hover {
  background-color: rgba(0, 0, 0, 0);
}

.paging_simple_numbers .page-item.active .page-link {
  background-color: rgba(0, 0, 0, 0);
  color: #4f84cf;

  &::after {
    content: "";
    position: absolute;
    right: 10px;
    bottom: 3px;
    width: calc(100% - 20px);
    height: 1px;
    background-color: #4f84cf;
  }
}

.paging_simple_numbers .page-item.previous.disabled .page-link,
.paging_simple_numbers .page-item.next.disabled .page-link {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.3;
  color: #404040;
}

.page-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-checkbox[class*="icheck-"] > input:first-child + label::before {
  border: 0.7px solid #c8d1e0;
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2.7px;
  margin: 0 auto;
}
[class*="icheck-"] > input:first-child:checked + input[type="hidden"] + label::after,
.table-checkbox[class*="icheck-"] > input:first-child:checked + label::after {
  left: 11px;
}
.table-checkbox[class*="icheck-"] > label {
  width: 22px;
  padding-left: 0 !important;
}
.table-checkbox[class*="icheck-"] > input:first-child + label::before {
  position: static;
}
.table-checkbox[class*="icheck-"] > input:first-child:checked + label::after {
  left: 0;
}
.icheck-primary.table-checkbox > input:first-child:checked + input[type="hidden"] + label::before,
.icheck-primary.table-checkbox > input:first-child:checked + label::before,
.icheck-primary.custom-checkbox > input:first-child:checked + input[type="hidden"] + label::before,
.icheck-primary.custom-checkbox > input:first-child:checked + label::before {
  background-color: #4f84cf;
  border-color: #4f84cf;
}
.custom-checkbox[class*="icheck-"] > label {
  padding-left: 0 !important;
}
.custom-checkbox[class*="icheck-"] > input:first-child + label::before {
  position: static;
}
.custom-checkbox[class*="icheck-"] > input:first-child:checked + label::after {
  left: 0;
  top: -6px;
}
.custom-checkbox[class*="icheck-"] > input:first-child + label::before {
  border: 0.7px solid #c8d1e0 !important;
  box-shadow: inset 1px 1px 2px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
  border-radius: 2.7px;
  margin: 0 auto;
}

.icheck-primary > input:first-child:checked + label::before {
  border: none;
}

.table-sm.cdp-table thead th,
.cdp-table thead th {
  position: relative;
  background-color: #e9eef6;
  border-bottom: 0px solid rgba(0, 0, 0, 0);
  border-top: 0px solid rgba(0, 0, 0, 0);
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3b4667;
  box-sizing: border-box;
  height: 40px;
  margin: 0;
  padding: 10px 0;
  vertical-align: middle;
}

// DataTable Small
table.table-sm.cdp-table {
  height: 40px !important;
}

.cdp-table-sm thead th {
  height: 40px !important;
}

.cdp-table-sm tbody td {
  height: 40px !important;
}

.table-sm.cdp-table tbody th {
  height: 40px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #404040;
  padding: 0;
  border: none;
}

.table-sm.cdp-table.cdp-table-bordered tbody th {
  border: 1px solid #e6eaf2;
}

table.table-sm.cdp-table tfoot th {
  vertical-align: middle;
  padding: 0;
  height: 40px;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #404040;
}

// DataTable Medium
table.table-md.cdp-table {
  height: 54px !important;
}

.cdp-table-md thead th {
  height: 40px !important;
  margin: 0;
  text-align: center;
  padding: 0;
  vertical-align: middle;
}

.cdp-table-md tbody td {
  box-sizing: border-box;
  padding: 7px;
  height: 54px !important;

  &:first-child {
    padding-left: 30px;
  }

  &:last-child {
    padding-right: 30px;
  }
}

.cdp-table-md.table__p-0 tbody td:first-child {
  padding-left: 0;
}

.cdp-table-md.table__p-0 tbody td:last-child {
  padding-right: 0;
}

// DataTable Large
table.table-lg.cdp-table {
  height: 70px !important;
}

.cdp-table-lg thead th {
  height: 40px !important;
  margin: 0;
  text-align: center;
  padding: 0;
  vertical-align: middle;
}

.cdp-table-lg tbody td {
  height: 70px !important;
}

.dataTable.cdp-table.body-white tbody tr {
  background-color: rgba(0, 0, 0, 0);

  &:nth-child(odd).odd {
    background-color: rgba(0, 0, 0, 0);
  }

  &:nth-child(even).even {
    background-color: rgba(0, 0, 0, 0);
  }
}

.dataTable.cdp-table.body-white tbody tr td {
  background-color: #ffffff !important;
}

table.dataTable.cdp-table > thead > tr > th,
table.dataTable.cdp-table > thead > tr > th.sorting_disabled {
  padding: 0;
}

table.cdp-table tbody td {
  vertical-align: middle;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #404040;
  padding: 0;
  border: none;
}

table.cdp-table.cdp-table-bordered tbody td {
  border: 1px solid #e6eaf2;
}
