// 保留
/* purple */
.card-body > .row .input-group > input:not(.cdp-input-purple) :focus,
.card-body > .row .input-group > .input-group-prepend {
  border-color: #6a53ba;
}

/* Date Picker with purple theme */
.cdp__form__date__input-purple {
  border-radius: 5px;
  border: solid 1px #ccc5e1;
  background-color: #ffffff;
  border-right-width: 0;
  transition: none;

  &:focus,
  &.active,
  &.purple__hover:hover {
    border: 1px solid #6a53ba;
    border-right-width: 0;

    ~ .input-group-prepend .cdp__input__icon {
      border: 1px solid #6a53ba;
      border-left-width: 0;
      color: #6a53ba;
    }
  }

  &:disabled[readonly],
  &[disabled][readonly] {
    background-color: rgba(207, 216, 230, 0.2) !important;
  }

  ~ .input-group-prepend .cdp__input__icon {
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #ccc5e1;
    border-left-width: 0;
    color: #ccc5e1;
    transition: none;
  }

  ~ .daterangepicker .ranges li.active {
    color: #404040;
    background-color: rgba(106, 83, 186, 0.08);
  }

  ~ .daterangepicker .ranges li:hover {
    background-color: #6a53ba;
    color: #ffffff;
  }

  ~ .daterangepicker td.active:not(.off),
  ~ .daterangepicker td.active:hover {
    background-color: #6a53ba;
    border-radius: 13px;
  }

  ~ .daterangepicker .calendar-table th {
    min-width: 26px;
    width: 26px;
  }

  ~ .daterangepicker .calendar-table td {
    min-width: 26px;
    width: 26px;
    line-height: 1;
    height: 26px;
  }

  ~ .daterangepicker td.in-range:not(.off) {
    background-color: rgba(106, 83, 186, 0.08);
  }

  ~ .daterangepicker td.in-range.start-date.active:not(.off) {
    background-color: #6a53ba;
    line-height: 1;
  }

  ~ .daterangepicker td.in-range.end-date.active:not(.off) {
    background-color: #6a53ba;
    line-height: 1;
  }

  ~ .daterangepicker td.available:hover {
    color: #ffffff;
    border-radius: 13px;
    background-color: #6a53ba;
  }

  ~ .daterangepicker select.monthselect,
  ~ .daterangepicker select.monthselect:focus-visible,
  ~ .daterangepicker select.yearselect,
  ~ .daterangepicker select.yearselect:focus-visible {
    border-radius: 5px;
    border: solid 1px #ccc5e1;
    background-color: #fff;
  }
}

.cdp-input__hover__purple:hover {
  border: 1px solid #6a53ba;
}

/* Date Picker with blues theme */
.cdp__form__date__input-blue {
  border-radius: 5px;
  border: solid 1px #cfd8e6;
  background-color: #ffffff;
  border-right-width: 0;
  transition: none;

  &:focus,
  &.blue__hover:hover,
  &.active {
    border: 1px solid #4f7dc5;
    border-right-width: 0;

    ~ .input-group-prepend .cdp__input__icon {
      border: 1px solid #4f7dc5;
      border-left-width: 0;
      color: #4f7dc5;
    }
  }

  &:disabled[readonly],
  &[disabled][readonly] {
    background-color: rgba(207, 216, 230, 0.2);
  }

  ~ .input-group-prepend .cdp__input__icon {
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #cfd8e6;
    border-left-width: 0;
    color: #cfd8e6;
    transition: none;
  }

  ~ .daterangepicker td.active,
  ~ .daterangepicker td.active:hover {
    border-radius: 13px;
  }

  ~ .daterangepicker .calendar-table th {
    min-width: 26px;
    width: 26px;
  }

  ~ .daterangepicker .calendar-table td {
    min-width: 26px;
    width: 26px;
    line-height: 1;
    height: 26px;
  }

  ~ .daterangepicker td.available:hover {
    color: #ffffff;
    border-radius: 13px;
    background-color: #4f7dc5;
  }

  ~ .daterangepicker select.monthselect,
  ~ .daterangepicker select.monthselect:focus-visible,
  ~ .daterangepicker select.yearselect,
  ~ .daterangepicker select.yearselect:focus-visible {
    border-radius: 5px;
    border: solid 1px #cfd8e6;
    background-color: #ffffff;
  }
}
.cdp-input__hover__blue:hover {
  border: 1px solid #4f7dc5;
}
