// 移除
/* Filter Dropdwon BEGIN */
.filter__form__content {
  width: 600px;
  min-height: 1px;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  border: solid 1px rgba(106, 83, 186, 0.3);
  background-color: #ffffff;
  position: absolute;
  top: calc(100% + 10px);
  z-index: 999;

  > .card-body {
    margin: 20px;
    height: auto;
  }

  > .row {
    margin: 0;
    color: #404040;

    > .col-md-6 {
      max-width: calc(50% - 8px);

      &:first-child {
        margin-right: 15px;
      }

      .text-muted-purple {
        color: #6a53ba !important;
      }
    }

    .input-group > input:focus,
    .input-group > .input-group-prepend {
      border-color: #6a53ba;
    }
  }
}

.cdp__form__group .input-group input[type="text"]::placeholder {
  color: rgba(106, 83, 186, 0.4);
}

/* Filter Form Bottom Control BEGIN */
.custom__flex__end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 27px;

  &-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

/* Custom Label Table Toggle BEGIN */
.cdp__toggle-inline__table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Filter Form Bottom Control Toggle END */
.cdp__toggle,
.cdp-toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* Toggle Switcher BEGIN */
.cdp-toggle .cdp-toggle-wrapper,
.cdp__toggle .cdp__toggle-wrapper,
.cdp__toggle-inline__table .cdp__toggle-wrapper {
  position: relative;
  width: 100px;
  border-radius: 25px;
  width: 50px;
  height: 24px;
}

.cdp-toggle .cdp-toggle-input,
.cdp__toggle .cdp__toggle-input,
.cdp__toggle-inline__table .cdp__toggle-input {
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 3;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.cdp-toggle .cdp-toggle-body,
.cdp__toggle .cdp__toggle-body,
.cdp__toggle-inline__table .cdp__toggle-body {
  display: block;
  width: 50px;
  height: 24px;
  border-radius: 25px;
  box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.09);
  background-color: rgba(39, 45, 68, 0.15);
  z-index: 0;
}

.cdp-toggle .cdp-toggle-circle,
.cdp__toggle .cdp__toggle-circle,
.cdp__toggle-inline__table .cdp__toggle-circle {
  position: absolute;
  border-radius: 15px;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  background: #ffffff;
  transition: all 0.4s;
  cursor: pointer;
}

.cdp-toggle .cdp-toggle-input + .cdp-toggle-body .cdp-toggle-circle:after,
.cdp__toggle .cdp__toggle-input + .cdp__toggle-body .cdp__toggle-circle:after,
.cdp__toggle-inline__table .cdp__toggle-input + .cdp__toggle-body .cdp__toggle-circle:after {
  content: "○";
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgba(39, 45, 68, 0.4);
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border-radius: 18px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cdp-toggle .cdp-toggle-input:checked + .cdp-toggle-body,
.cdp__toggle .cdp__toggle-input:checked + .cdp__toggle-body,
.cdp__toggle-inline__table .cdp__toggle-input:checked + .cdp__toggle-body {
  background: #6a53ba;
}

/* Default is purple, but table change to dark blue */
.cdp__toggle-inline__table .theme-dark__blue .cdp__toggle-input:checked + .cdp__toggle-body {
  background: #4f84cf;
}

.cdp__toggle-inline__table .cdp__toggle-input + .cdp__toggle-body .cdp__toggle-circle:after {
  color: #4f84cf;
}

.cdp-toggle .cdp-toggle-input:checked + .cdp-toggle-body .cdp-toggle-circle,
.cdp__toggle .cdp__toggle-input:checked + .cdp__toggle-body .cdp__toggle-circle,
.cdp__toggle-inline__table .cdp__toggle-input:checked + .cdp__toggle-body .cdp__toggle-circle {
  background-color: white;
  left: 28px;
  transition: all 0.4s ease;
}

.cdp-toggle .cdp-toggle-input:checked + .cdp-toggle-body .cdp-toggle-circle:after,
.cdp__toggle .cdp__toggle-input:checked + .cdp__toggle-body .cdp__toggle-circle:after,
.cdp__toggle-inline__table .cdp__toggle-input:checked + .cdp__toggle-body .cdp__toggle-circle:after {
  content: "I";
  color: rgba(39, 45, 68, 0.4);
  font-family: "Montserrat", sans-serif;
}
/* Toggle Switcher END */

/* Toggle Text BEGIN */
.cdp-toggle-text,
.cdp__toggle__text {
  height: 19px;
  margin: 0px 4px 0px 6px;
  font-size: 14px;
  font-weight: normal !important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #404040;
  cursor: pointer;
}
/* Toggle Text END */

/* Button BEGIN */
.filter-submit {
  width: 120px;
  height: 34px;
  border-radius: 5px;
}
/* Button END */
/* Filter Form Bottom Control END */
/* Filter Dropdwon END */

// 移除
// .input-group input[type="text"].custom-br__5 {
//   border: solid 1px #ccc5e1;
//   color: #404040 !important;
//   border-radius: 5px !important;
// }
// .filter__form__content-border-color .select2-container {
//   border: 1px solid #ccc5e1 !important;
// }
// .filter__form__content-text {
//   font-size: 13px;
//   font-weight: normal !important;
//   font-stretch: normal;
//   font-style: normal;
//   line-height: normal;
//   letter-spacing: normal;
//   color: #6a53ba;
//   margin: 0;
// }
