// 移除
#ga_page_path_rank_tbl thead {
  border-radius: 5px;

  tr th {
    background-color: #f6f8fb;
    border-top-width: 0;
    border-bottom-width: 0;

    /* Text */
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3b4667;

    &:first-child {
      border-radius: 5px 0 0 0;
    }

    &:last-child {
      border-radius: 0 5px 0 0;
    }
  }
}

#ga_data_source_tbl thead {
  border-radius: 5px;

  tr th {
    background-color: #f6f8fb;
    border-top-width: 0;
    border-bottom-width: 0;

    /* Text */
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3b4667;

    &:first-child {
      border-radius: 5px 0 0 0;
    }

    &:last-child {
      border-radius: 0 5px 0 0;
    }
  }
}

#ga_data_source_tbl tbody tr td {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #404040;
}

#ga_page_path_rank_tbl tbody tr td {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #404040;
}

#ga_data_source_tbl tbody tr:hover {
  background-color: rgba(0,0,0,0);
}

#ga_page_path_rank_tbl tbody tr:hover {
  background-color: rgba(0,0,0,0);
}

#ga_related_data_tbl thead {
  border-radius: 5px;

  tr th {
    background-color: #f6f8fb;
    border-top-width: 0;
    border-bottom-width: 0;

    &:first-child {
      border-radius: 5px 0 0 0;
    }

    &:last-child {
      border-radius: 0 5px 0 0;
    }
  }
}
