/* Blue */
.cdp-checkbox-blue[class*="icheck-"] > label {
  padding-left: 0 !important;
}

.cdp-checkbox-blue[class*="icheck-"] > input:first-child + label::before {
  position: static;
  border: 0.7px solid #c8d1e0 !important;
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2.7px;
  margin: 0 auto;
}

.cdp-checkbox-blue[class*="icheck-"]
  > input:first-child:checked
  + label::after {
  left: 0;
  top: -6px;
}

.icheck-primary.cdp-checkbox-blue
  > input:first-child:checked
  + input[type="hidden"]
  + label::before,
.icheck-primary.cdp-checkbox-blue > input:first-child:checked + label::before {
  background-color: #4f84cf;
  border-color: #4f84cf;
}

/* Purple */
.cdp-checkbox-purple[class*="icheck-"] > label {
  padding-left: 0 !important;
  height: 22px;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}

.cdp-checkbox-purple[class*="icheck-"] > label span {
  margin-left: 8px;
}

.cdp-checkbox-purple[class*="icheck-"] > input:first-child + label::before {
  position: static;
  border: 0.7px solid #ccc5e1 !important;
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2.7px;
  margin: 0 auto;
}

.cdp-checkbox-purple[class*="icheck-"]
  > input:first-child:checked
  + label::after {
  left: 0;
  top: 0;
}

.icheck-purple.cdp-checkbox-purple
  > input:first-child:checked
  + input[type="hidden"]
  + label::before,
.icheck-purple.cdp-checkbox-purple > input:first-child:checked + label::before {
  background-color: #6a53ba;
  border-color: #6a53ba;
}

/* Blue */
.cdp-checkbox-blue[class*="icheck-"] > label {
  padding-left: 0 !important;
  height: 22px;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}

.cdp-checkbox-blue[class*="icheck-"] > label span {
  margin-left: 8px;
}

.cdp-checkbox-blue[class*="icheck-"] > input:first-child + label::before {
  position: static;
  border: 0.7px solid #ccc5e1 !important;
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2.7px;
  margin: 0 auto;
}

.cdp-checkbox-blue[class*="icheck-"]
  > input:first-child:checked
  + label::after {
  left: 0;
  top: 0;
}

.icheck-purple.cdp-checkbox-purple
  > input:first-child:checked
  + input[type="hidden"]
  + label::before,
.icheck-purple.cdp-checkbox-blue > input:first-child:checked + label::before {
  background-color: #6a53ba;
  border-color: #6a53ba;
}
