.cdp-radio__box {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  border: solid 1px #cfd8e6;
  background-color: #fff;
  padding: 9px 14px 10px;
}

/* Radio Input */
.cdp-custom__radio__button {
  display: inline-block;
  position: relative;
  padding-left: 19px;
  margin-bottom: 0px;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50%;
  cursor: pointer;
}

/* Radio Input */
.cdp-custom__radio__button {
  display: inline-block;
  position: relative;
  padding-left: 19px;
  margin-bottom: 0px;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50%;
  cursor: pointer;
}

.cdp-radio__text {
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #374050;

  /* Hide the browser's default radio button */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 13px;
  height: 13px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 50%;

  /* Create the indicator (the dot/circle - hidden when not checked) */
  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

/* On mouse-over, add a grey background color */
.cdp-custom__radio__button:hover input ~ .checkmark {
  background-color: #ffffff;
  border: 1px solid #4f7dc5;
}

/* When the radio button is checked, add a blue background */
.cdp-custom__radio__button input:checked ~ .checkmark {
  background-color: #4f7dc5;
  border: none;

  /* Show the indicator (dot/circle) when checked */
  &:after {
    display: block;
  }
}

/* Style the indicator (dot/circle) */
.cdp-custom__radio__button .checkmark:after {
  top: 4px;
  left: 4px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
}

/* Custom Checkbox */
.cdp-checkbox__icon {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 5px;

  input[type="checkbox"] {
    padding: 0;
    height: 0;
    width: 0;
    margin-bottom: 0;
    opacity: 0;
    visibility: hidden;

    &:checked + label::before {
      background-color: #4f7dc5;
      border-color: #4f7dc5;
    }

    &:checked + label::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 6px;
      left: -1px;
      width: 7px;
      height: 10px;
      border: 2px solid #fff;
      border-left: none;
      border-top: none;
      transform: translate(7.75px, 4.5px) rotate(45deg);
      -ms-transform: translate(7.75px, 4.5px) rotate(45deg);
    }
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      padding: 10px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      margin-right: 5px;
      border-radius: 2.7px;
      box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
      border: solid 0.7px #c8d1e0;
      background-color: #fff;
      cursor: pointer;
    }
  }
}

/* Search Input */
.search__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  .search__container-input {
    display: block;
    box-sizing: border-box;
    padding: 9px 14px;
    border-radius: 5px 0 0 5px;
    border: solid 1px #e6eaf2;
    background-color: #fff;
    width: calc(100% - 50px);
    height: 36px;
    border-right-width: 0px;
  }

  .search__container-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 49px;
    height: 36px;
    border-radius: 0 5px 5px 0;
    background-color: #f6f8fb;
    border: solid 1px #e6eaf2;
    outline: none;
    padding: 0;
    border-left-width: 0px;
  }
}

/* Edit input-group original */
.input-group > .form-control:not(:last-child) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input-group > .form-control.cdp__form__date__input-purple:not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.input-group > .form-control.cdp__form__date__input-blue:not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
