.custom__label__bg {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  height: auto;
  padding: 14px;
  border-radius: 5px;
  border: solid 1px #cfd8e6;
  background-color: rgba(207, 216, 230, 0.2);

  > .list-inline {
    margin-bottom: 0;

    .list-inline-item {
      margin-right: 6px;
    }
  }
}

.input-group.lock {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 8px 12px 10px 14px;
  border-radius: 5px;
  border: solid 1px #cfd8e6;
  background-color: rgba(207, 216, 230, 0.2);
  height: 38px;
  margin-top: 5px;

  &.currency {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    border: solid 1px #cfd8e6;
    background-color: rgba(207, 216, 230, 0.2);
    height: 38px;
    margin-top: 5px;
    padding: 0;

    &.cdp__none {
      background-color: rgba(0, 0, 0, 0);
      border: none;

      i.fas.fa-lock {
        display: none;
      }

      .custom__currency__sign {
        display: none;
      }
    }

    > input {
      padding-left: 14px;
    }

    > i.fas {
      display: flex;
      justify-content: center;
      align-content: center;
      text-align: center;
      margin-top: 14px;
      margin-right: 13px;
      font-size: 12px;
      color: #c0ccdf;
    }

    .custom__currency__sign {
      border: none;
      height: 36px;
      margin-top: 1px;
      color: #4f7dc5;
      background-color: rgba(207, 216, 230, 0.4);
    }
  }

  > i.fas {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 14px;
    font-size: 12px;
    color: #c0ccdf;
  }

  > input {
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: auto;
  }
}
