//
.cdp__modal__border__radius {
  border-radius: 10px;
}

/* Custom Upload Modal BEGIN */
.cdp__upload__modal-content {
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: auto;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 10px;
  outline: 0;
  border: none;
}

/* Modal Header BEGIN */
.cdp__upload__modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 50px;
  border-radius: 10px 10px 0 0;
  background-color: #171d32;

  .cdp__upload__modal-header-title {
    width: calc(50% - 20px);
    height: 24px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
  }

  .cdp__upload__modal-header-close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30px;
    color: #fff;
    opacity: 0.8;
    outline: none;
    font-size: 24px;
    font-weight: 500;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 5px;

    > span {
      width: 18px;
      height: 18px;
    }
  }
}

/* Modal Body BEGIN */
.cdp__upload__modal-body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 210px;
  padding: 0;
  border-radius: 10px;
  background-color: #fff;

  > form {
    box-sizing: border-box;
    width: 400px;
    height: 210px;
    padding: 10px;

    .cdp__upload__modal-format__example {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .cdp__upload__modal-format__example-text {
        width: 52px;
        height: 19px;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4f84cf;
        text-decoration: underline;
      }
    }

    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 0 !important;

      .upload__img {
        width: 60px;
        height: 47px;
      }

      .cdp__upload__modal-upload__button {
        width: 160px;
        height: 34px;
        margin-top: 11px;
        box-sizing: border-box;
        padding: 6px 24px 8px;
        border-radius: 5px;
        background-color: #4f84cf;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fff;

        &:hover {
          background-color: #3a6db5;
        }
      }

      .cdp__upload__modal-small {
        width: 115px;
        height: 19px;
        margin-top: 6px;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #4f84cf;
      }
    }

    .input-group {
      width: 210px;
      height: 34px;
      margin-top: 11px;
      margin-left: 50px;

      &.is-invalid .custom-file-label {
        border: 1px solid #f94956;
      }

      &.is-invalid + .cdp__upload__modal-small {
        color: #f94956;
        display: none;
      }
    }
  }
}

/* Upload Modal error msg color */
#cdp-upload-modal-upload-view .error.invalid-feedback {
  color: #f94956;
  margin-left: 25px;
  animation-duration: 0s;
}

/* For invalid text Status */
.cdp__modal-body-form__input-container-form-input__box .error.invalid-feedback {
  color: #f94956;
  animation-duration: 0s;
}

/* For Form Input box invalid Status */
.form-control.is-invalid {
  border-color: #f94956;
  border-radius: 5px;
}

.select2-container.select2-is-invalid-border .select2-selection.select2-selection--single,
.select2-container.select2-is-invalid-border .select2-selection.select2-selection--multiple {
  border: 1px solid #f94956;
  border-radius: 5px;
}

/* Upload Modal error msg icon */
#cdp-upload-modal-upload-view .error.invalid-feedback > i.fa-exclamation-triangle {
  display: none;
}

.cdp__upload__modal-body > form .input-group > .custom-file {
  width: 210px;
  height: 34px;
}

form .input-group .custom-file-input,
form .input-group .custom-file-input.is-invalid {
  width: 160px;
  height: 34px;
}

// disable review button
.custom-file-input:lang(en) ~ .custom-file-label::after {
  display: none;
  content: "";
}

.custom-file-input ~ .custom-file-label::after {
  display: none !important;
  content: "" !important;
}

.custom-file-input.cdp-input-blue:focus ~ .custom-file-label {
  border-color: #4f7dc5;
}

.cdp__upload__modal-body > form .input-group .custom-file-label {
  border: solid 1px #4f84cf;
  border-radius: 5px !important;
  background-color: #fff;
  width: 160px;
  max-height: 34px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #404040;

  &::after {
    content: "";
    width: 0;
    display: none;
  }
}

.cdp__upload__modal-submit__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  margin-left: 10px;
  width: 34px;
  height: 34px;
  border-radius: 5px;
  background-color: #4f84cf;
  color: #ffffff;

  &:hover {
    background-color: #3a6db5;
    border: none;
    outline: none;
  }

  &:focus {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    margin-left: 10px;
    width: 34px;
    height: 34px;
    border-radius: 5px;
    background-color: #4f84cf;
    color: #ffffff;
  }
}
/* Modal Body END */
/* Custom Upload Modal END */

/* Custom Modal Detail BEGIN */
.cdp__modal__detail-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 13px 20px;
  border-radius: 10px 10px 0 0;
  background-color: #171d32;
  color: #ffffff;

  > .cdp__modal__detail-header-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .cdp__modal__detail-header-title {
      height: 24px;
      margin: 4px 0 6px;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #fff;
    }

    .cdp__modal__detail-header-name {
      width: max-content;
      height: 24px;
      margin: 4px 14px 6px 0;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #fff;
      text-decoration: underline;
    }

    .cdp__modal__detail-header-window {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      width: auto;
      height: 34px;
      padding: 6px 13px 8px;
      border-radius: 5px;
      border: solid 1px rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;

      &:hover {
        color: #ffffff;
        border: solid 1px #ffffff;
        background-color: rgba(255, 255, 255, 0.2);
      }

      > i.far {
        font-size: 13px;
        color: #ffffff;
      }

      .cdp__modal__detail-header-window-text {
        width: 56px;
        height: 20px;
        margin: 0 0 0 5px;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
    }
  }

  > .cdp__modal__detail-header-close {
    margin: 0;
    padding: 0;
    opacity: 0.8;
    color: #fff;

    &:focus {
      border: none;
      outline: none;
    }
  }
}

.cdp__modal__detail-body {
  box-sizing: border-box;
  padding: 20px;
  background-color: #f4f6f9;

  .cdp__card__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border: none;
    padding-bottom: 13px;
    background-color: #f4f6f9;

    > .date__filter {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      margin-left: auto;
      cursor: pointer;

      > .fas {
        color: #ffffff;
      }

      > .date__filter-text {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        margin-left: 6px;
      }
    }
  }

  .card-header .cdp__tab_content {
    width: 600px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #eef1f9;
    background-color: #fff;

    .nav-item {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 600px;
      text-align: center;

      .nav-link {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        position: relative;
        color: #7d818f;

        &.active {
          border-radius: 5px;
          color: #ffffff;
          box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.3);
          background-color: #4f84cf;
        }
      }
    }
  }
}

.cdp__modal__detail-body .card-header .cdp__tab_content .nav-item:not(:last-child) .nav-link:not(.active)::after {
  content: "|";
  position: absolute;
  right: 0;
  color: rgba(79, 132, 207, 0.6);
}

/* without card header */

/* Date Filter Dropdown Content BEGIN */
.date__filter__form__content {
  box-sizing: border-box;
  width: 312px;
  min-height: 1px;
  padding: 0px;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  border: solid 1px rgba(106, 83, 186, 0.3);
  background-color: #fff;
  position: absolute;
  top: calc(90%);
  right: 0;
  z-index: 999;

  .date__filter__form__content-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    width: calc(100% - 40px);
    margin: 20px 20px 0;

    label {
      width: 26.6px;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #6a53ba;
    }

    .input-group input {
      border-radius: 5px 0 0 5px;
      border: solid 1px #ccc5e1;
      background-color: #fff;
      border-right-width: 0;
      transition: none;

      &:focus {
        border-color: #6a53ba;

        ~ .input-group-prepend > .cdp__input__icon {
          border-color: #6a53ba;
        }
      }
    }

    .input-group .input-group-text {
      border-radius: 0 5px 5px 0;
      border: solid 1px #ccc5e1;
      background-color: #fff;
      border-left-width: 0;
      color: #ccc5e1;
    }
  }

  > .date__filter__form__content-filter-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 120px;
    height: 34px;
    padding: 6px 30px 8px;
    border-radius: 5px;
    background-color: #6a53ba;
    border: none;
    outline: none;
    margin: 20px 20px 20px auto;

    &:focus {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      width: 120px;
      height: 34px;
      padding: 6px 30px 8px;
      border-radius: 5px;
      background-color: #6a53ba;
      border: none;
      outline: none;
      margin: 20px 20px 20px auto;
    }

    > i.fas {
      color: #ffffff;
      font-size: 14px;
      margin-top: 3px;
    }

    > .date__filter__form__content-filter-button-text {
      width: 28px;
      height: 20px;
      margin: 0 0 0 5px;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #fff;
    }
  }
}
/* Date Filter Dropdown Content END */

/* Modal with Table BEGIN */
.cdp__modal-dialog {
  width: 100%;

  .cdp__modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: #f4f6f9;
    border: none;

    .cdp__modal-header {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      border-radius: 10px 10px 0 0;
      background-color: #171d32;
      padding: 18px 20px;

      .cdp__modal-header-title {
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fff;
      }

      .cdp__modal-header-close {
        color: #ffffff;
        opacity: 0.8;
        text-shadow: none;

        &:hover {
          color: #ffffff;
          opacity: 1;
        }

        &:focus {
          border: none;
          outline: none;
        }
      }
    }
  }
}

.cdp__modal-body-table {
  width: 100%;
  max-width: 100%;
  padding: 20px;

  .cdp__modal-body-table-container .cdp__modal-body-table-container-text {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #272d44;
  }
}
/* Modal with Table END*/

/* Modal with Form Input BEGIN */
.cdp__modal-dialog .cdp__modal-content .cdp__modal-body-form__input {
  padding: 0;
  width: 100%;

  .cdp__modal-body-form__input-container {
    padding: 0;
    width: 100%;

    .cdp__modal-body-form__input-container-row {
      padding: 20px;
      box-sizing: border-box;
    }
  }

  .cdp__modal-body-form__input-container-body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 14px 20px 20px;
    border-radius: 5px;
    border: solid 1px #e6eaf2;
    background-color: #fff;
    max-width: 100%;

    .cdp__modal-body-form__input-container-text {
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #272d44;
    }

    .cdp__modal-body-form__input-container-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;

      .cdp__modal-body-form__input-container-form-input__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;

        .cdp__modal-body-form__input-container-form-input__box-title {
          font-size: 13px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #4f7dc5;
          margin-bottom: 5px;
        }
      }

      .cdp__modal-body-form__input-container-multiple-form-input__box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .cdp__modal-body-form__input-container-form-input__box {
          width: calc(50% - 10px);
        }
      }
    }
  }
}

.cdp__modal-dialog .cdp__modal-content .cdp__modal-footer-form__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* Modal with Form Input END */

/* Modal Alert BEGIN */
.cdp__modal-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border-radius: 10px;
  border: solid 1px #e8e7e8;
  background-color: #fff;

  .cdp__modal-alert-header-img {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;

    img {
      position: absolute;
      position: inherit;
      width: 71px;
      height: 71px;
      top: -20px;
      left: -20px;
    }
  }

  .cdp__modal-alert-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .cdp__modal-alert-body-title {
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }

    .cdp__modal-alert-body-desc {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
  }

  .cdp__modal-alert-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
/* Modal Alert END */

/* Dialog Button BEGIN */
.cdp__modal-dialog .cdp__modal-btn__submit {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  min-width: 135px;
  background-color: #4f84cf;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #3a6db5;
  }

  &.disabled {
    background-color: rgba(207, 216, 230, 0.2);
    color: #c0ccdf;
  }

  /* Admin say there using disabled attribute to control button disabled status */
  &:disabled {
    background-color: rgba(207, 216, 230, 0.2);
    color: #c0ccdf;
  }

  .cdp__modal-btn__submit-text {
    font-size: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-style: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-align: inherit;
    color: inherit;
  }
}

.cdp__modal-dialog .cdp__modal-btn__cancel {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 15px);
  min-width: 135px;
  padding: 8px;
  background-color: rgba(241, 241, 241, 0.8);
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #8d8d8d;
  cursor: pointer;

  &:hover {
    background-color: #dfdfdf;
  }

  .cdp__modal-btn__cancel-text {
    font-size: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-style: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-align: inherit;
    color: inherit;
  }
}

.cdp__modal-dialog .cdp__modal-btn__delete {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 15px);
  min-width: 135px;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  cursor: pointer;

  .cdp__modal-btn__delete-text {
    font-size: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-style: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-align: inherit;
    color: inherit;
  }
}
/* Dialog Button END */

.input-group .error.invalid-feedback {
  color: #f94956;
  animation-duration: 0s;

  & > i.fa-exclamation-triangle {
    display: none;
  }
}
