// 保留
/* Member list filter BEGIN */
.form-group .input-group .select2-purple ~ .select2 .selection .select2-selection.select2-selection--single {
  border-radius: 5px;
  border: 1px solid #ccc5e1;
}

.form-group .input-group .select2-purple ~ .select2.select2-container--open .selection .select2-selection.select2-selection--single {
  border-radius: 5px 5px 0 0;
  border: solid 1px #6a53ba;
  border-bottom-color: #ccc5e1;
}

/* dropdown content */
.select2-container.select2-container--default .cdp__dropdown__content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  border: solid 1px #6a53ba;
}

/* .cdp__dropdown__content */
.select2-search.select2-search--dropdown .select2-search__field {
  border: 1px solid #ccc5e1;

  &:focus {
    border: 1px solid #ccc5e1;
  }
}

/* date input group for disabled */
.input-group input:disabled ~ .input-group-prepend .input-group-text.cdp__input__icon {
  background-color: rgba(207, 216, 230, 0.2);
}

.date__filter__form__content .date__filter__form__content-input .input-group input:disabled {
  background-color: rgba(207, 216, 230, 0.2);
}

.filter__form__content > .card-body > .row .input-group > input:focus ~ .input-group-prepend > .cdp__input__icon {
  border-color: #6a53ba;
}

/* Specifical */
.select2-selection.select2-selection--multiple.cdp-multiple__select2-blue .select2-selection__rendered {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  padding: 8px 14px;
  margin: 0;
  gap: 10px;
}

.select2-selection.select2-selection--single.cdp-multiple__select2-blue {
  padding: 0;
}

.select2-selection.select2-selection--single.cdp-multiple__select2-blue .select2-selection__rendered {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 38px;
  font-size: 14px;
  padding: 8px 14px;
  margin: 0;
  overflow-x: scroll;
}

.select2-selection.select2-selection--multiple.cdp-multiple__select2-blue .select2-selection__rendered li:first-child.select2-search.select2-search--inline {
  margin: 0;
}

.select2-selection.select2-selection--multiple.cdp-multiple__select2-blue .select2-selection__rendered .select2-search.select2-search--inline .select2-search__field {
  margin: 0;
}

/* Custom Style for Select2 package */
.select2-container .select2-selection--multiple.cdp-multiple__select2-blue {
  box-sizing: border-box;
  border: 1px solid #cfd8e6;
}

/* Single */
.select2-container--default .select2-selection--single.cdp-multiple__select2-blue {
  border: 1px solid #cfd8e6;
}

.select2-container--default .select2-selection--single.cdp-multiple__select2-blue .select2-selection__arrow b {
  border-color: #cfd8e6 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.select2-container--default:not(.select2-is-invalid-border) .select2-selection--single.cdp-multiple__select2-blue.cdp-input__hover__blue:hover {
  border: 1px solid #4f7dc5;
}

.select2-container:not(.select2-is-invalid-border) .select2-selection--multiple.cdp-multiple__select2-blue:hover {
  border: 1px solid #4f7dc5;
}

.cdp-multiple__select2-blue > .select2-selection__rendered .select2-selection__choice {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 3px 10px 3px;
  background-color: #4f84cf !important;
  border: none;
  outline: none;
  font-size: 13.2px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  margin: 0;
}

.cdp-multiple__select2-blue .select2-selection__choice .select2-selection__choice__remove {
  margin-left: 6px;
}

.select2-container--default.select2-container--focus:not(.select2-is-invalid-border) .cdp-multiple__select2-blue {
  border: 1px solid #4f7dc5;
}

.select2-container.select2-container--default .cdp__dropdown__content.blue {
  border: 1px solid #4f7dc5;
}

.select2.cdp__dropdown__content.blue .select2-results__option--highlighted {
  background-color: #4f84cf !important;
}

.select2-container--default.select2-container--disabled .cdp-input__hover__blue {
  border: solid 1px #cfd8e6;
  background-color: rgba(207, 216, 230, 0.2);

  &:hover,
  &:focus {
    border: solid 1px #4f7dc5;
    background-color: rgba(207, 216, 230, 0.2);
  }
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: rgba(207, 216, 230, 0.2);
}

.select2-blue.cdp__multi-select__dropdown input {
  &::placeholder {
    color: #b4c1d6;
  }
  &::-moz-placeholder {
    color: #b4c1d6;
  }
  &::-webkit-input-placeholder {
    color: #b4c1d6;
  }
}

.select2-blue.cdp__multi-select__dropdown:hover .select2.select2-container:not(.select2-is-invalid-border) .select2-selection.select2-selection--multiple {
  outline: none;
  border: 1px solid #4f7dc5;
}

// For Single Select2 Group Optional Text (Blue)
.select2[data-dropdown-css-class="select2 cdp__dropdown__content blue"] ~ .select2-container--default .select2-results__group {
  font-weight: 400;
  color: #4f7dc5 !important;
}

// For Single Select2 Group Optional Text (purple)
.select2[data-dropdown-css-class="select2-purple cdp__dropdown__content purple"] ~ .select2-container--default .select2-results__group {
  font-weight: 400;
  color: #6a53ba !important;
}

.select2[data-dropdown-css-class="select2 cdp__dropdown__content blue"] ~ .select2-container--default .select2-results__option[aria-disabled="true"],
.select2[data-dropdown-css-class="select2-purple cdp__dropdown__content purple"] ~ .select2-container--default .select2-results__option[aria-disabled="true"] {
  display: none;
}

// Multiple Select2 Theme Purple
.select2-purple .select2-container--default .select2-selection--multiple .select2-selection__choice {
  border-radius: 13px;
  background-color: #6a53ba;
  border-color: #6a53ba;
}

.select2-purple.cdp__multi-select__dropdown input {
  &::placeholder {
    color: rgba(106, 83, 186, 0.4);
  }
  &::-moz-placeholder {
    color: rgba(106, 83, 186, 0.4);
  }
  &::-webkit-input-placeholder {
    color: rgba(106, 83, 186, 0.4);
  }
}

.select2-purple.cdp__multi-select__dropdown:hover .select2.select2-container:not(.select2-is-invalid-border) .select2-selection.select2-selection--multiple {
  outline: none;
  border: 1px solid #6a53ba;
}

.cdp-multiple__select2-purple > .select2-selection__rendered .select2-selection__choice {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 3px 10px 3px;
  background-color: #6a53ba !important;
  border: none;
  outline: none;
  font-size: 13.2px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  margin: 0;
}

.select2-selection.select2-selection--multiple.cdp-multiple__select2-purple .select2-selection__rendered li:first-child.select2-search.select2-search--inline,
.select2-selection.select2-selection--multiple.cdp-multiple__select2-purple .select2-selection__rendered .select2-search.select2-search--inline .select2-search__field {
  margin: 0;
}

.select2-selection.select2-selection--multiple.cdp-multiple__select2-purple .select2-selection__rendered {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  padding: 8px 14px;
  margin: 0;
  gap: 10px;
}

.cdp__multi-select__dropdown.select2-purple .select2-container--default .select2-selection--multiple {
  border: 1px solid #ccc5e1;
  color: #8c8c8c;
}

.cdp__multi-select__dropdown.select2-purple .select2-container--default.select2-container--focus .select2-selection--multiple {
  border-radius: 5px;
  border: solid 1px #6a53ba;
}

.cdp__multi-select__dropdown.select2-purple .select2-container--default.select2-container--open.select2-container--focus .select2-selection--multiple {
  border-radius: 5px 5px 0 0;
  border: solid 1px #6a53ba;
  border-bottom: solid 1px #ccc5e1;
}

.cdp__multi-select__dropdown.select2-purple .select2-container--default.select2-container--open.select2-container--focus.select2-container--above .select2-selection--multiple {
  border-radius: 0 0 5px 5px;
  border: solid 1px #6a53ba;
  border-top: solid 1px #ccc5e1;
}

.select2-container--default.select2-container--disabled .cdp-input__hover__purple {
  border: solid 1px #cfd8e6;
  background-color: rgba(207, 216, 230, 0.2);

  &:hover,
  &:focus {
    border: solid 1px #6a53ba;
    background-color: rgba(207, 216, 230, 0.2);
  }
}
