// 需要保留的
.cdp-tabbar__wrapper {
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #eef1f9;
  background-color: #fff;
  border-radius: 5px;

  // inactive tab hover effect.
  &.nav-pills .nav-link:not(.active):hover {
    color: #4f84cf;
  }

  .nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:not(:last-child)::after {
      content: "|";
      position: absolute;
      right: 0;
      color: rgba(79, 132, 207, 0.6);
    }

    .nav-link {
      box-sizing: border-box;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 5px;
      position: relative;
      width: 100%;
      z-index: 99;

      &.active::before {
        content: "";
        width: 104%;
        height: 100%;
        top: 0;
        left: -3px;
        position: absolute;
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.3);
        background-color: #4f84cf;
        color: #ffffff;
        z-index: -1;
      }
    }
  }
}
